.button-browser {
  gap: 3px;
  padding-bottom: 30px;
}

.button-browser-image {
  width: 48px;
  height: 48px;

  background-color: currentColor;

  -webkit-mask-image: url("/static/browse.svg");
  mask-image: url("/static/browse.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 70%;
  mask-size: 70%;
}

.torrent-button-text {
  font-size: 1.05rem;
}