.guide-step {
  background-color: rgba(9, 13, 19, 0.8);
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.guide-image-container {
  max-width: 100%;
  position: relative;
}

.guide-image-container img {
  max-width: 100%;
  height: auto;
  display: block; /* optional, removes inline-gap */
  margin: auto;
}
