.guide-step {
  background-color: rgba(9, 13, 19, 0.8);
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.guide-image-container {
  max-width: 100%;
  position: relative;
}

.guide-image-container img {
  background-color: rgb(9, 13, 19);
  max-width: 100%;
  height: auto;
  display: block; /* optional, removes inline-gap */
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.33);
  transition: background-color 0.6s ease; /* key line */
  border-radius: 10px;
}

.image-overlay:hover {
  background-color: rgba(0, 0, 0, 0);
}