{% extends "base.html" %}

{% block content %}

{% include "sections/overview.html" %}

{% include "sections/mounting.html" %}

{% include "sections/web-browser.html" %}

{% include "sections/torrents.html" %}
  
  {% include "sections/storage-usage.html" %}

  {% include "sections/drive-status.html" %}

  {% include "sections/network-traffic.html" %}

  <header class="header mount-header" id="mount-guides">
    <h1 data-lang="en">Mount Guides</h1>
    <h1 data-lang="cs">Návody na připojení</h1>
  </header>

  {% include "sections/windows-smb.html" %}

    {# {% include "sections/windows-nfs.html" %} #}

{% endblock %}
