<section class="card">
  <h2 data-lang="en">Quick mount overview</h2>
  <h2 data-lang="cs">Rychlý přehled připojení</h2>

  <div data-lang="en">
    <a>NAS primarily uses the <b>SMB</b> protocol for mounting drives at the following endpoints.</a>
  </div>
  <div data-lang="cs">
    <a>NAS primárně používá protokol <b>SMB</b> pro připojení jednotek na následujících adresách.</a>
  </div>

  <div class="endpoint-container smb-endpoint-container">
    <div data-lang="en">
      <span class="endpoint">\\{{ server_name }}\data</span>
      <div>Data hub with all storage paths and drives</div>
    </div>
    <div data-lang="cs">
      <span class="endpoint">\\{{ server_name }}\data</span>
      <div>Datový rozcestník se všemi cestami a disky</div>
    </div>

    <div data-lang="en">
      <span class="endpoint">\\{{ server_name }}\data\safe</span>
      <div>Safe mirrored storage (1:1 mirrored HDDs)</div>
    </div>
    <div data-lang="cs">
      <span class="endpoint">\\{{ server_name }}\data\safe</span>
      <div>Bezpečné zrcadlené úložiště (1:1 HDD)</div>
    </div>

    <div data-lang="en">
      <span class="endpoint">\\{{ server_name }}\data\fast</span>
      <div>Fast NVMe storage, no parity</div>
    </div>
    <div data-lang="cs">
      <span class="endpoint">\\{{ server_name }}\data\fast</span>
      <div>Rychlé NVMe uložiště, bez jakékoliv ochrany</div>
    </div>

    <div data-lang="en">
      <span class="endpoint">\\{{ server_name }}\data\guest</span>
      <div>Guest area (write allowed for guests):</div>
    </div>
    <div data-lang="cs">
      <span class="endpoint">\\{{ server_name }}\data\guest</span>
      <div>Zóna pro hosty, (mají zde práva zápisu)</div>
    </div>
  </div>

  <div class="endpoint-container">
    <p data-lang="en">
      How to connect from Windows:
      <a href="#mount-guides">go to mount guides</a>.
    </p>
    <p data-lang="cs">
      Jak se připojit z Windows:
      <a href="#mount-guides">jít na návody pro připojení</a>.
    </p>
  </div>

  <div class="endpoint-container user-container">
    <p data-lang="en">
      Guest access (read everywhere, write only in <code>\data\guest</code>):<br />
      user: <code>nasguest</code><br />
      password: <code>nasguest</code>
    </p>
    <p data-lang="cs">
      Guest přístup (čtení všude, zápis jen v <code>\data\guest</code>):<br />
      uživatel: <code>nasguest</code><br />
      heslo: <code>nasguest</code>
    </p>

    <p data-lang="en">
      User <code>nasuser</code> has extended access; for the password, contact the administrator.
    </p>
    <p data-lang="cs">
      Uživatel <code>nasuser</code> má rozšířený přístup; pro heslo kontaktujte administrátora.
    </p>
  </div>
</section>
