<section class="card">
  <h2 data-lang="en">Overview</h2>
  <h2 data-lang="cs">Přehled</h2>

  <div class="endpoint-container ip-name-container">
    <div data-lang="en">
      Local DNS name:
      <span class="endpoint">{{ server_name }}</span>
    </div>
    <div data-lang="cs">
      Lokální DNS název:
      <span class="endpoint">{{ server_name }}</span>
    </div>

    <div data-lang="en">
      IP address:
      <span class="endpoint">{{ server_ip }}</span>
    </div>
    <div data-lang="cs">
      IP adresa:
      <span class="endpoint">{{ server_ip }}</span>
    </div>
  </div>
</section>
