<section class="card">
  <h2 data-lang="en">Overview</h2>
  <h2 data-lang="cs">Přehled</h2>

  <div class="ip-container">
    <p data-lang="en">
      Local DNS name:
      <span class="address">{{ server_name }}</span>
    </p>
    <p data-lang="cs">
      Lokální DNS název:
      <span class="address">{{ server_name }}</span>
    </p>

    <p data-lang="en">
      IP address:
      <span class="address">{{ server_ip }}</span>
    </p>
    <p data-lang="cs">
      IP adresa:
      <span class="address">{{ server_ip }}</span>
    </p>
  </div>
</section>
