[Unit]
Description=NAS Hub (Flask via gunicorn)
After=network.target

[Service]
User=root
WorkingDirectory=/srv/website
ExecStart=/usr/bin/gunicorn -w 2 -b 0.0.0.0:80 app:app
Restart=on-failure

Environment="SERVER_IP=192.168.1.230"
Environment="SERVER_NAME=nas.local"
Environment="BASE_URL=http://192.168.1.230"

[Install]
WantedBy=multi-user.target
